{
  "swagger": "2.0",
  "info": {
    "title": "AI Agent Public API",
    "version": "1.0.0"
  },
  "tags": [
    {
      "name": "🤖 Сервис Управления Агентами",
      "description": "Предоставляет комплексные операции CRUD, массовые операции и управление состоянием для ИИ агентов"
    },
    {
      "name": "🏗️ Сервис управления агентными системами",
      "description": "Предоставляет комплексные операции CRUD, массовые операции и управление состоянием для систем ИИ агентов"
    },
    {
      "name": "🔧 Каталог конфигураций",
      "description": "Предоставляет поиск и получение данных по доступным конфигурациям"
    },
    {
      "name": "🏪 Сервис каталога Агентов",
      "description": "Предоставляет возможности поиска и получения предопределенных агентов, доступных в маркетплейсе"
    },
    {
      "name": "🏪 Сервис каталога MCP Серверов",
      "description": "Предоставляет возможности поиска и получения предопределенных MCP серверов, доступных в маркетплейсе"
    },
    {
      "name": "🔌 Управление MCP Серверами",
      "description": "Основной сервис для операций жизненного цикла сервера Model Context Protocol\nПредоставляет комплексные операции CRUD, массовые операции и управление состоянием для MCP серверов"
    },
    {
      "name": "Информация по проекту в рамках продукта",
      "description": "Сервис для информации и метаданных проекта"
    }
  ],
  "host": "ai-agents.api.cloud.ru",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/marketplace/agents": {
      "get": {
        "summary": "🔍 Поиск агентов в маркетплейсе",
        "description": "Возвращает отфильтрованный список предопределенных агентов, доступных для развертывания\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| limit | 🔢 Лимит количества результатов (от 0 до 100) | \n| offset | 🔢 Смещение для постраничной навигации (от 0) | \n| name | 📝 Название агента (необязательное поле) | \n| agent_ids | 🆔 Список идентификаторов агентов (список UUID, максимум 100) | \n| tags | 🏷️ Список тегов (максимум 100) | \n| categories | 🏷️ Список категорий (максимум 100) | \n| statuses | 🔍 Список статусов агентов (максимум 100) | \n| types | 🔍 Список типов агентов (максимум 100) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| data | 📋 Список найденных предопределённых агентов (максимум 100) | \n| total | 🔢 Общее количество найденных агентов | \n| categories | 🏷️ Список всех категорий | \n| tags | 🏷️ Список всех тегов |",
        "operationId": "MarketplaceAgentManagementService_SearchPredefinedAgent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsSearchPredefinedAgentResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "🔢 Лимит количества результатов (от 0 до 100)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "description": "🔢 Смещение для постраничной навигации (от 0)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "name",
            "description": "📝 Название агента (необязательное поле)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "agentIds",
            "description": "🆔 Список идентификаторов агентов (список UUID, максимум 100)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "tags",
            "description": "🏷️ Список тегов (максимум 100)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "categories",
            "description": "🏷️ Список категорий (максимум 100)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "statuses",
            "description": "🔍 Список статусов агентов (максимум 100)\n\n - AGENT_PREDEFINED_STATUS_UNKNOWN: ❓ Техническое значение по умолчанию - Неизвестный или неопределенный статус\n - AGENT_PREDEFINED_STATUS_PREVIEW: 👁️ Предварительный просмотр - Агент доступен для ознакомления\n - AGENT_PREDEFINED_STATUS_AVAILABLE: 🟢 Доступен - Агент полностью доступен для использования",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "AGENT_PREDEFINED_STATUS_UNKNOWN",
                "AGENT_PREDEFINED_STATUS_PREVIEW",
                "AGENT_PREDEFINED_STATUS_AVAILABLE"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "types",
            "description": "🔍 Список типов агентов (максимум 100)\n\n - AGENT_PREDEFINED_TYPE_UNKNOWN: ❓ Техническое значение по умолчанию - Неизвестный или неопределенный тип агента\n - AGENT_PREDEFINED_TYPE_FREE_TIER: 🆓 Бесплатный уровень - Агенты бесплатного уровня\n - AGENT_PREDEFINED_TYPE_PAYABLE: 💰 Платные - Платные агенты\n - AGENT_PREDEFINED_TYPE_INTERNAL: 🏢 Внутренние - Для внутренних продуктов Cloud.ru",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "AGENT_PREDEFINED_TYPE_UNKNOWN",
                "AGENT_PREDEFINED_TYPE_FREE_TIER",
                "AGENT_PREDEFINED_TYPE_PAYABLE",
                "AGENT_PREDEFINED_TYPE_INTERNAL"
              ]
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "🏪 Сервис каталога Агентов"
        ]
      }
    },
    "/api/v1/marketplace/agents/{id}": {
      "get": {
        "summary": "📋 Получить подробную информацию об агенте маркетплейса",
        "description": "Возвращает исчерпывающие детали о конкретном предопределенном агенте из маркетплейса\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| id | 🆔 Идентификатор предопределённого агента (в формате UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| predefined_agent | 📋 Предопределённый агент |",
        "operationId": "MarketplaceAgentManagementService_GetPredefinedAgent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsGetPredefinedAgentResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "🆔 Идентификатор предопределённого агента (в формате UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "tags": [
          "🏪 Сервис каталога Агентов"
        ]
      }
    },
    "/api/v1/marketplace/mcpServers": {
      "get": {
        "summary": "🔍 Поиск MCP серверов в маркетплейсе",
        "description": "Возвращает отфильтрованный список предопределенных MCP серверов, доступных для развертывания\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| limit | 🔢 Лимит количества результатов (от 0 до 100) | \n| offset | 🔢 Смещение для постраничной навигации (от 0) | \n| name | 📝 Название сервера (необязательное поле) | \n| agent_ids | 🆔 Список идентификаторов агентов (список UUID, максимум 100) | \n| tags | 🏷️ Список тегов (максимум 100) | \n| categories | 🏷️ Список категорий (максимум 100) | \n| status | 🔍 Список статусов серверов (максимум 100) | \n| types | 🔍 Список типов серверов (максимум 100) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| data | 📋 Список найденных предопределённых серверов MCP (максимум 100) | \n| total | 🔢 Общее количество найденных серверов | \n| categories | 🏷️ Список всех категорий | \n| tags | 🏷️ Список всех тегов |",
        "operationId": "MarketplaceMCPServerManagementService_SearchPredefinedMCPServer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsSearchPredefinedMCPServerResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "🔢 Лимит количества результатов (от 0 до 100)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "description": "🔢 Смещение для постраничной навигации (от 0)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "name",
            "description": "📝 Название сервера (необязательное поле)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "agentIds",
            "description": "🆔 Список идентификаторов агентов (список UUID, максимум 100)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "tags",
            "description": "🏷️ Список тегов (максимум 100)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "categories",
            "description": "🏷️ Список категорий (максимум 100)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "status",
            "description": "🔍 Список статусов серверов (максимум 100)\n\n - MCP_SERVER_STATUS_UNKNOWN: ❓ Техническое значение по умолчанию - Неизвестный или неопределенный статус\n - MCP_SERVER_STATUS_ON_RESOURCE_ALLOCATION: ⏳ Ожидание выделения ресурсов - MCP сервер находится в очереди на развертывание\n - MCP_SERVER_STATUS_AVAILABLE: 🟢 Доступен для использования - Полностью функционален и готов обрабатывать запросы",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "MCP_SERVER_STATUS_UNKNOWN",
                "MCP_SERVER_STATUS_ON_RESOURCE_ALLOCATION",
                "MCP_SERVER_STATUS_AVAILABLE"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "types",
            "description": "🔍 Список типов серверов (максимум 100)\n\n - MCP_SERVER_PREDEFINED_TYPE_UNKNOWN: ❓ Техническое значение по умолчанию - Неизвестный или неопределенный тип MCP сервера\n - MCP_SERVER_PREDEFINED_TYPE_FREE_TIER: 🆓 Бесплатный уровень - MCP серверы бесплатного уровня\n - MCP_SERVER_PREDEFINED_TYPE_PAYABLE: 💰 Платные - Платные MCP серверы\n - MCP_SERVER_PREDEFINED_TYPE_INTERNAL: 🏢 Внутренние - Для внутренних продуктов Cloud.ru",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "MCP_SERVER_PREDEFINED_TYPE_UNKNOWN",
                "MCP_SERVER_PREDEFINED_TYPE_FREE_TIER",
                "MCP_SERVER_PREDEFINED_TYPE_PAYABLE",
                "MCP_SERVER_PREDEFINED_TYPE_INTERNAL"
              ]
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "🏪 Сервис каталога MCP Серверов"
        ]
      }
    },
    "/api/v1/marketplace/mcpServers/{id}": {
      "get": {
        "summary": "📋 Получить подробную информацию об MCP сервере маркетплейса",
        "description": "Возвращает исчерпывающие детали о конкретном предопределенном MCP сервере из маркетплейса\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| id | 🆔 Идентификатор предопределённого сервера MCP (в формате UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| predefined_mcp_server | 📋 Предопределённый сервер MCP |",
        "operationId": "MarketplaceMCPServerManagementService_GetPredefinedMCPServer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsGetPredefinedMCPServerResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "🆔 Идентификатор предопределённого сервера MCP (в формате UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "tags": [
          "🏪 Сервис каталога MCP Серверов"
        ]
      }
    },
    "/api/v1/{projectId}": {
      "get": {
        "summary": "📋 Получить подробную информацию о проекте c квотами по продукту",
        "description": "Возвращает исчерпывающие детали о текущем проекте, включая конфигурацию и метаданные\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| project_id | 🆔 Идентификатор проекта (в формате UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| status | 🏷️ Текущий статус проекта | \n| quotes | 📊 Квоты и использование проекта |",
        "operationId": "ProjectManagementService_GetProjectInfo",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsGetProjectInfoResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (в формате UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "tags": [
          "Информация по проекту в рамках продукта"
        ]
      }
    },
    "/api/v1/{projectId}/agentSystems": {
      "get": {
        "summary": "🔎 Поиск и фильтрация систем агентов",
        "description": "Возвращает отфильтрованный список систем агентов на основе критериев поиска и фильтров\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| limit | 📏 Размер страницы (0..100) | \n| offset | ⏭️ Смещение страницы (\u003e= 0) | \n| project_id | 🆔 Идентификатор проекта (формат UUID, обязательный) | \n| name | 📝 Фильтр по имени системы агентов (опционально) | \n| agent_system_ids | 🆔 Фильтр по конкретным ID систем агентов (список UUID, максимум 100) | \n| uses_agent_ids | 🆔 Фильтр по используемым ID агентов (список UUID, максимум 100) | \n| statuses | 📊 Фильтр по статусам | \n| not_in_statuses | 🚫 Исключить системы с этими статусами | \n| search | 🔎 Строка свободного текстового поиска | \n| updated_by |  | \n| created_by |  | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| data | 📦 Данные результата (максимум 100 элементов) | \n| total | 🔢 Общее количество элементов, соответствующих фильтру |",
        "operationId": "AgentSystemManagementService_SearchAgentSystem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsSearchAgentSystemResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID, обязательный)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "limit",
            "description": "📏 Размер страницы (0..100)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "description": "⏭️ Смещение страницы (\u003e= 0)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "name",
            "description": "📝 Фильтр по имени системы агентов (опционально)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "agentSystemIds",
            "description": "🆔 Фильтр по конкретным ID систем агентов (список UUID, максимум 100)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "usesAgentIds",
            "description": "🆔 Фильтр по используемым ID агентов (список UUID, максимум 100)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "statuses",
            "description": "📊 Фильтр по статусам\n\n - AGENT_SYSTEM_STATUS_UNKNOWN: ❓ Техническое значение по умолчанию - Неизвестный или неопределенный статус\n - AGENT_SYSTEM_STATUS_RESOURCE_ALLOCATION: ⏳ Ожидание выделения ресурсов - Система агентов находится в очереди на развертывание\n - AGENT_SYSTEM_STATUS_PULLING: 📥 Загрузка образа контейнера - Скачивание необходимого образа контейнера\n - AGENT_SYSTEM_STATUS_RUNNING: 🟢 Система агентов запущена - Полностью функциональна и готова обрабатывать запросы\n - AGENT_SYSTEM_STATUS_ON_SUSPENSION: 🟡 Система агентов останавливается - В процессе приостановки\n - AGENT_SYSTEM_STATUS_SUSPENDED: 🟠 Система агентов приостановлена - Временно остановлена, но сохранена\n - AGENT_SYSTEM_STATUS_ON_DELETION: 🔴 Система агентов удаляется - В процессе удаления\n - AGENT_SYSTEM_STATUS_DELETED: ⚫ Система агентов удалена - Больше не существует\n - AGENT_SYSTEM_STATUS_FAILED: 💥 Система агентов столкнулась с ошибкой - Не удалось правильно функционировать\n - AGENT_SYSTEM_STATUS_COOLED: ❄️ Система агентов масштабирована до нулевых реплик - Охлаждена для оптимизации затрат\n - AGENT_SYSTEM_STATUS_AGENT_UNAVAILABLE: 🤖 Один из агентов в системе недоступен - Служба агента не работает",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "AGENT_SYSTEM_STATUS_UNKNOWN",
                "AGENT_SYSTEM_STATUS_RESOURCE_ALLOCATION",
                "AGENT_SYSTEM_STATUS_PULLING",
                "AGENT_SYSTEM_STATUS_RUNNING",
                "AGENT_SYSTEM_STATUS_ON_SUSPENSION",
                "AGENT_SYSTEM_STATUS_SUSPENDED",
                "AGENT_SYSTEM_STATUS_ON_DELETION",
                "AGENT_SYSTEM_STATUS_DELETED",
                "AGENT_SYSTEM_STATUS_FAILED",
                "AGENT_SYSTEM_STATUS_COOLED",
                "AGENT_SYSTEM_STATUS_AGENT_UNAVAILABLE"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "notInStatuses",
            "description": "🚫 Исключить системы с этими статусами\n\n - AGENT_SYSTEM_STATUS_UNKNOWN: ❓ Техническое значение по умолчанию - Неизвестный или неопределенный статус\n - AGENT_SYSTEM_STATUS_RESOURCE_ALLOCATION: ⏳ Ожидание выделения ресурсов - Система агентов находится в очереди на развертывание\n - AGENT_SYSTEM_STATUS_PULLING: 📥 Загрузка образа контейнера - Скачивание необходимого образа контейнера\n - AGENT_SYSTEM_STATUS_RUNNING: 🟢 Система агентов запущена - Полностью функциональна и готова обрабатывать запросы\n - AGENT_SYSTEM_STATUS_ON_SUSPENSION: 🟡 Система агентов останавливается - В процессе приостановки\n - AGENT_SYSTEM_STATUS_SUSPENDED: 🟠 Система агентов приостановлена - Временно остановлена, но сохранена\n - AGENT_SYSTEM_STATUS_ON_DELETION: 🔴 Система агентов удаляется - В процессе удаления\n - AGENT_SYSTEM_STATUS_DELETED: ⚫ Система агентов удалена - Больше не существует\n - AGENT_SYSTEM_STATUS_FAILED: 💥 Система агентов столкнулась с ошибкой - Не удалось правильно функционировать\n - AGENT_SYSTEM_STATUS_COOLED: ❄️ Система агентов масштабирована до нулевых реплик - Охлаждена для оптимизации затрат\n - AGENT_SYSTEM_STATUS_AGENT_UNAVAILABLE: 🤖 Один из агентов в системе недоступен - Служба агента не работает",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "AGENT_SYSTEM_STATUS_UNKNOWN",
                "AGENT_SYSTEM_STATUS_RESOURCE_ALLOCATION",
                "AGENT_SYSTEM_STATUS_PULLING",
                "AGENT_SYSTEM_STATUS_RUNNING",
                "AGENT_SYSTEM_STATUS_ON_SUSPENSION",
                "AGENT_SYSTEM_STATUS_SUSPENDED",
                "AGENT_SYSTEM_STATUS_ON_DELETION",
                "AGENT_SYSTEM_STATUS_DELETED",
                "AGENT_SYSTEM_STATUS_FAILED",
                "AGENT_SYSTEM_STATUS_COOLED",
                "AGENT_SYSTEM_STATUS_AGENT_UNAVAILABLE"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "search",
            "description": "🔎 Строка свободного текстового поиска",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updatedBy",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "createdBy",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "tags": [
          "🏗️ Сервис управления агентными системами"
        ]
      },
      "delete": {
        "summary": "🗑️📦 Массовое удаление нескольких систем агентов",
        "description": "Эффективно удаляет несколько систем агентов за одну операцию\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_system_ids | 🆔 Список идентификаторов систем агентов для удаления (список UUID, максимум 100) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentSystemManagementService_BulkDeleteAgentSystem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsBulkDeleteAgentSystemResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentSystemIds",
            "description": "🆔 Список идентификаторов систем агентов для удаления (список UUID, максимум 100)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "🏗️ Сервис управления агентными системами"
        ]
      },
      "post": {
        "summary": "🆕 Создать новый экземпляр системы агентов",
        "description": "Создает новую систему агентов с указанной конфигурацией и возвращает детали системы\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n| name | 📝 Имя системы (3-125 символов, строчные буквы с дефисами) | \n| description | 💬 Описание системы (максимум 125 символов) | \n| instance_type_id | 💻 Идентификатор конфигурации (формат UUID) | \n| orchestrator_options | 🧠 Опции оркестратора (маршрутизация/координация) | \n| options | ⚙️ Опции на уровне системы | \n| integration_options | 🔗 Опции интеграции (аутентификация, CORS и т.д.) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_system_id | 🆔 Идентификатор вновь созданной системы агентов (формат UUID) |",
        "operationId": "AgentSystemManagementService_CreateAgentSystem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsCreateAgentSystemResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentSystemManagementServiceCreateAgentSystemBody"
            }
          }
        ],
        "tags": [
          "🏗️ Сервис управления агентными системами"
        ]
      }
    },
    "/api/v1/{projectId}/agentSystems/resume": {
      "patch": {
        "summary": "▶️📦 Массовое возобновление нескольких систем агентов",
        "description": "Эффективно возобновляет несколько приостановленных систем агентов за одну операцию\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_system_ids | 🆔 Список идентификаторов систем агентов для возобновления (список UUID, максимум 100) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentSystemManagementService_BulkResumeAgentSystem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsBulkResumeAgentSystemResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentSystemManagementServiceBulkResumeAgentSystemBody"
            }
          }
        ],
        "tags": [
          "🏗️ Сервис управления агентными системами"
        ]
      }
    },
    "/api/v1/{projectId}/agentSystems/resume/{agentSystemId}": {
      "patch": {
        "summary": "▶️ Возобновить операцию системы агентов",
        "description": "Перезапускает ранее приостановленную систему агентов с сохранением состояния и конфигурации\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_system_id | 🆔 Идентификатор системы агентов (формат UUID) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentSystemManagementService_ResumeAgentSystem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsResumeAgentSystemResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentSystemId",
            "description": "🆔 Идентификатор системы агентов (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentSystemManagementServiceResumeAgentSystemBody"
            }
          }
        ],
        "tags": [
          "🏗️ Сервис управления агентными системами"
        ]
      }
    },
    "/api/v1/{projectId}/agentSystems/suspend": {
      "patch": {
        "summary": "⏸️📦 Массовая приостановка нескольких систем агентов",
        "description": "Эффективно приостанавливает несколько систем агентов за одну операцию\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_system_ids | 🆔 Список идентификаторов систем агентов для приостановки (список UUID, максимум 100) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentSystemManagementService_BulkSuspendAgentSystem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsBulkSuspendAgentSystemResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentSystemManagementServiceBulkSuspendAgentSystemBody"
            }
          }
        ],
        "tags": [
          "🏗️ Сервис управления агентными системами"
        ]
      }
    },
    "/api/v1/{projectId}/agentSystems/suspend/{agentSystemId}": {
      "patch": {
        "summary": "⏸️ Приостановить операцию системы агентов",
        "description": "Временно останавливает выполнение системы агентов, сохраняя состояние и конфигурацию\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_system_id | 🆔 Идентификатор системы агентов (формат UUID) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentSystemManagementService_SuspendAgentSystem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsSuspendAgentSystemResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentSystemId",
            "description": "🆔 Идентификатор системы агентов (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentSystemManagementServiceSuspendAgentSystemBody"
            }
          }
        ],
        "tags": [
          "🏗️ Сервис управления агентными системами"
        ]
      }
    },
    "/api/v1/{projectId}/agentSystems/{agentSystemId}": {
      "get": {
        "summary": "🔍 Получить подробную информацию о системе агентов",
        "description": "Возвращает исчерпывающие детали о конкретной системе агентов по ID\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_system_id | 🆔 Идентификатор системы агентов (формат UUID) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_system | 🏗️ Сущность Системы Агентов с конфигурацией, статусом и метаданными |",
        "operationId": "AgentSystemManagementService_GetAgentSystem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsGetAgentSystemResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentSystemId",
            "description": "🆔 Идентификатор системы агентов (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "tags": [
          "🏗️ Сервис управления агентными системами"
        ]
      },
      "delete": {
        "summary": "🗑️ Удалить один экземпляр системы агентов",
        "description": "Удаляет систему агентов из системы и очищает связанные ресурсы\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_system_id | 🆔 Идентификатор системы агентов (формат UUID) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentSystemManagementService_DeleteAgentSystem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsDeleteAgentSystemResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentSystemId",
            "description": "🆔 Идентификатор системы агентов (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "tags": [
          "🏗️ Сервис управления агентными системами"
        ]
      },
      "patch": {
        "summary": "✏️ Обновить конфигурацию системы агентов",
        "description": "Изменяет существующие свойства и настройки системы агентов\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_system_id | 🆔 Идентификатор системы агентов (формат UUID) | \n| name | 📝 Имя системы (3-125 символов, строчные буквы с дефисами) | \n| description | 💬 Описание системы (максимум 125 символов) | \n| agents | 👥 Агенты, участвующие в системе (максимум 10) | \n| instance_type_id | 💻 Идентификатор конфигурации (формат UUID) | \n| orchestrator_options | 🧠 Опции оркестратора (маршрутизация/координация) | \n| options | ⚙️ Опции на уровне системы | \n| integration_options | 🔗 Опции интеграции (аутентификация, CORS и т.д.) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentSystemManagementService_UpdateAgentSystem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsUpdateAgentSystemResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentSystemId",
            "description": "🆔 Идентификатор системы агентов (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentSystemManagementServiceUpdateAgentSystemBody"
            }
          }
        ],
        "tags": [
          "🏗️ Сервис управления агентными системами"
        ]
      }
    },
    "/api/v1/{projectId}/agentSystems/{agentSystemId}/history": {
      "get": {
        "summary": "📜 Получить историю изменений системы агентов",
        "description": "Возвращает хронологический список модификаций и изменений состояния для системы агентов\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_system_id | 🆔 Идентификатор системы агентов (формат UUID) | \n| limit | 📏 Размер страницы | \n| offset | ⏭️ Смещение страницы | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n| updated_by | Обновлен пользователем | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| data | 📦 Данные результата (события) | \n| total | 🔢 Общее количество событий истории |",
        "operationId": "AgentSystemManagementService_SearchAgentSystemHistory",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsSearchAgentSystemHistoryResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentSystemId",
            "description": "🆔 Идентификатор системы агентов (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "limit",
            "description": "📏 Размер страницы",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "description": "⏭️ Смещение страницы",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "updatedBy",
            "description": "Обновлен пользователем",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "tags": [
          "🏗️ Сервис управления агентными системами"
        ]
      }
    },
    "/api/v1/{projectId}/agentSystems/{agentSystemId}/{agentId}": {
      "delete": {
        "summary": "➖ Удалить агента из системы агентов",
        "description": "Разрывает связь агента с системой агентов\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_system_id | 🆔 Идентификатор системы агентов (формат UUID) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n| agent_id | 🆔 Идентификатор агента для удаления (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentSystemManagementService_DeleteAgentFromAgentSystem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsDeleteAgentAgentSystemResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentSystemId",
            "description": "🆔 Идентификатор системы агентов (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentId",
            "description": "🆔 Идентификатор агента для удаления (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "tags": [
          "🏗️ Сервис управления агентными системами"
        ]
      },
      "patch": {
        "summary": "➕ Добавить агента в систему агентов",
        "description": "Связывает существующего агента с системой агентов для совместных операций\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_system_id | 🆔 Идентификатор системы агентов (формат UUID) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n| agent_id | 🆔 Идентификатор агента для добавления (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentSystemManagementService_AddAgentToAgentSystem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsAddAgentAgentSystemResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentSystemId",
            "description": "🆔 Идентификатор системы агентов (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentId",
            "description": "🆔 Идентификатор агента для добавления (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "tags": [
          "🏗️ Сервис управления агентными системами"
        ]
      }
    },
    "/api/v1/{projectId}/agents": {
      "get": {
        "summary": "🔎 Поиск и фильтрация агентов",
        "description": "Возвращает отфильтрованный список агентов на основе критериев поиска и фильтров\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| limit | 📏 Размер страницы (0..100) | \n| offset | ⏭️ Смещение страницы (\u003e= 0) | \n| project_id | 🆔 Идентификатор проекта (формат UUID, обязательный) | \n| name | 📝 Фильтр по имени агента (опционально) | \n| agent_ids | 🆔 Фильтр по конкретным ID агентов (список UUID, максимум 100) | \n| uses_mcp_servers_ids | 🔌 Фильтр по использованию MCP серверов (список UUID, максимум 100) | \n| statuses | 📊 Фильтр по статусам | \n| not_in_statuses | 🚫 Исключить агентов с этими статусами | \n| search | 🔎 Строка свободного текстового поиска | \n| updated_by |  | \n| created_by |  | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| data | 📦 Данные результата (максимум 100 элементов) | \n| total | 🔢 Общее количество элементов, соответствующих фильтру |",
        "operationId": "AgentManagementService_SearchAgent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsSearchAgentResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID, обязательный)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "limit",
            "description": "📏 Размер страницы (0..100)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "description": "⏭️ Смещение страницы (\u003e= 0)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "name",
            "description": "📝 Фильтр по имени агента (опционально)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "agentIds",
            "description": "🆔 Фильтр по конкретным ID агентов (список UUID, максимум 100)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "usesMcpServersIds",
            "description": "🔌 Фильтр по использованию MCP серверов (список UUID, максимум 100)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "statuses",
            "description": "📊 Фильтр по статусам\n\n - AGENT_STATUS_UNKNOWN: ❓ Техническое значение по умолчанию - Неизвестный или неопределенный статус\n - AGENT_STATUS_RESOURCE_ALLOCATION: ⏳ Ожидание выделения ресурсов - Агент находится в очереди на развертывание\n - AGENT_STATUS_PULLING: 📥 Загрузка образа контейнера - Скачивание необходимого образа контейнера\n - AGENT_STATUS_RUNNING: 🟢 Агент работает - Полностью функционален и готов обрабатывать запросы\n - AGENT_STATUS_ON_SUSPENSION: 🟡 Агент останавливается - В процессе приостановки\n - AGENT_STATUS_SUSPENDED: 🟠 Агент приостановлен - Временно остановлен, но сохранен\n - AGENT_STATUS_ON_DELETION: 🔴 Агент удаляется - В процессе удаления\n - AGENT_STATUS_DELETED: ⚫ Агент удален - Больше не существует\n - AGENT_STATUS_FAILED: 💥 Агент столкнулся с ошибкой - Не удалось правильно функционировать\n - AGENT_STATUS_COOLED: ❄️ Агент масштабирован до нулевых реплик - Охлажден для оптимизации затрат\n - AGENT_STATUS_LLM_UNAVAILABLE: 🤖 Служба LLM недоступна - Служба языковой модели не работает\n - AGENT_STATUS_TOOL_UNAVAILABLE: 🔧 Служба инструментов недоступна - MCP сервер или инструменты не работают\n - AGENT_STATUS_IMAGE_UNAVAILABLE: 🐳 Образ контейнера недоступен - Требуемый образ не может быть доступен",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "AGENT_STATUS_UNKNOWN",
                "AGENT_STATUS_RESOURCE_ALLOCATION",
                "AGENT_STATUS_PULLING",
                "AGENT_STATUS_RUNNING",
                "AGENT_STATUS_ON_SUSPENSION",
                "AGENT_STATUS_SUSPENDED",
                "AGENT_STATUS_ON_DELETION",
                "AGENT_STATUS_DELETED",
                "AGENT_STATUS_FAILED",
                "AGENT_STATUS_COOLED",
                "AGENT_STATUS_LLM_UNAVAILABLE",
                "AGENT_STATUS_TOOL_UNAVAILABLE",
                "AGENT_STATUS_IMAGE_UNAVAILABLE"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "notInStatuses",
            "description": "🚫 Исключить агентов с этими статусами\n\n - AGENT_STATUS_UNKNOWN: ❓ Техническое значение по умолчанию - Неизвестный или неопределенный статус\n - AGENT_STATUS_RESOURCE_ALLOCATION: ⏳ Ожидание выделения ресурсов - Агент находится в очереди на развертывание\n - AGENT_STATUS_PULLING: 📥 Загрузка образа контейнера - Скачивание необходимого образа контейнера\n - AGENT_STATUS_RUNNING: 🟢 Агент работает - Полностью функционален и готов обрабатывать запросы\n - AGENT_STATUS_ON_SUSPENSION: 🟡 Агент останавливается - В процессе приостановки\n - AGENT_STATUS_SUSPENDED: 🟠 Агент приостановлен - Временно остановлен, но сохранен\n - AGENT_STATUS_ON_DELETION: 🔴 Агент удаляется - В процессе удаления\n - AGENT_STATUS_DELETED: ⚫ Агент удален - Больше не существует\n - AGENT_STATUS_FAILED: 💥 Агент столкнулся с ошибкой - Не удалось правильно функционировать\n - AGENT_STATUS_COOLED: ❄️ Агент масштабирован до нулевых реплик - Охлажден для оптимизации затрат\n - AGENT_STATUS_LLM_UNAVAILABLE: 🤖 Служба LLM недоступна - Служба языковой модели не работает\n - AGENT_STATUS_TOOL_UNAVAILABLE: 🔧 Служба инструментов недоступна - MCP сервер или инструменты не работают\n - AGENT_STATUS_IMAGE_UNAVAILABLE: 🐳 Образ контейнера недоступен - Требуемый образ не может быть доступен",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "AGENT_STATUS_UNKNOWN",
                "AGENT_STATUS_RESOURCE_ALLOCATION",
                "AGENT_STATUS_PULLING",
                "AGENT_STATUS_RUNNING",
                "AGENT_STATUS_ON_SUSPENSION",
                "AGENT_STATUS_SUSPENDED",
                "AGENT_STATUS_ON_DELETION",
                "AGENT_STATUS_DELETED",
                "AGENT_STATUS_FAILED",
                "AGENT_STATUS_COOLED",
                "AGENT_STATUS_LLM_UNAVAILABLE",
                "AGENT_STATUS_TOOL_UNAVAILABLE",
                "AGENT_STATUS_IMAGE_UNAVAILABLE"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "search",
            "description": "🔎 Строка свободного текстового поиска",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "updatedBy",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "createdBy",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "tags": [
          "🤖 Сервис Управления Агентами"
        ]
      },
      "delete": {
        "summary": "🗑️📦 Массовое удаление нескольких агентов",
        "description": "Эффективно удаляет несколько агентов за одну операцию\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_ids | 🆔 Список идентификаторов агентов для удаления (список UUID, максимум 100) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentManagementService_BulkDeleteAgent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsBulkDeleteAgentResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentIds",
            "description": "🆔 Список идентификаторов агентов для удаления (список UUID, максимум 100)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "🤖 Сервис Управления Агентами"
        ]
      },
      "post": {
        "summary": "🆕 Создать новый экземпляр ИИ агента",
        "description": "Создает нового агента с указанной конфигурацией и возвращает детали агента\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| project_id | 🆔 Идентификатор проекта, где будет создан агент (формат UUID, обязательный) | \n| name | 📝 Имя агента (3-125 символов, строчные буквы с дефисами, должен начинаться/заканчиваться буквенно-цифровым) | \n| description | 💬 Описание агента (максимум 125 символов) | \n| instance_type_id | Идентификатор конфигурации для вычислительных ресурсов (формат UUID, обязательный) | \n| exported_ports | 🔌 Список портов для предоставления внешнего доступа | \n| image_source | 🐳 Конфигурация источника образа контейнера | \n| options | ⚙️ Специфичные для агента опции конфигурации | \n| mcp_server_id | 🔌 Идентификатор MCP сервера для интеграции инструментов (формат UUID, обязательный) | \n| integration_options |  | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_id | 🆔 Уникальный идентификатор созданного агента (формат UUID) |",
        "operationId": "AgentManagementService_CreateAgent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsCreateAgentResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта, где будет создан агент (формат UUID, обязательный)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentManagementServiceCreateAgentBody"
            }
          }
        ],
        "tags": [
          "🤖 Сервис Управления Агентами"
        ]
      }
    },
    "/api/v1/{projectId}/agents/resume": {
      "patch": {
        "summary": "▶️📦 Массовое возобновление нескольких агентов",
        "description": "Эффективно возобновляет несколько приостановленных агентов за одну операцию\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_ids | 🆔 Список идентификаторов агентов для возобновления (список UUID, максимум 100) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentManagementService_BulkResumeAgent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsBulkResumeAgentResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentManagementServiceBulkResumeAgentBody"
            }
          }
        ],
        "tags": [
          "🤖 Сервис Управления Агентами"
        ]
      }
    },
    "/api/v1/{projectId}/agents/resume/{agentId}": {
      "patch": {
        "summary": "▶️ Возобновить операцию агента",
        "description": "Перезапускает ранее приостановленного агента с сохранением состояния и конфигурации\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_id | 🆔 Идентификатор агента (формат UUID) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentManagementService_ResumeAgent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsResumeAgentResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentId",
            "description": "🆔 Идентификатор агента (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentManagementServiceResumeAgentBody"
            }
          }
        ],
        "tags": [
          "🤖 Сервис Управления Агентами"
        ]
      }
    },
    "/api/v1/{projectId}/agents/suspend": {
      "patch": {
        "summary": "⏸️📦 Массовая приостановка нескольких агентов",
        "description": "Эффективно приостанавливает несколько агентов за одну операцию\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_ids | 🆔 Список идентификаторов агентов для приостановки (список UUID, максимум 100) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentManagementService_BulkSuspendAgent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsBulkSuspendAgentResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentManagementServiceBulkSuspendAgentBody"
            }
          }
        ],
        "tags": [
          "🤖 Сервис Управления Агентами"
        ]
      }
    },
    "/api/v1/{projectId}/agents/suspend/{agentId}": {
      "patch": {
        "summary": "⏸️ Приостановить операцию агента",
        "description": "Временно останавливает выполнение агента, сохраняя состояние и конфигурацию\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_id | 🆔 Идентификатор агента (формат UUID) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentManagementService_SuspendAgent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsSuspendAgentResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentId",
            "description": "🆔 Идентификатор агента (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentManagementServiceSuspendAgentBody"
            }
          }
        ],
        "tags": [
          "🤖 Сервис Управления Агентами"
        ]
      }
    },
    "/api/v1/{projectId}/agents/{agentId}": {
      "get": {
        "summary": "🔍 Получить подробную информацию об агенте",
        "description": "Возвращает исчерпывающие детали о конкретном агенте по ID\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_id | 🆔 Идентификатор агента (формат UUID) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent | 🤖 Сущность агента с конфигурацией, статусом и метаданными |",
        "operationId": "AgentManagementService_GetAgent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsGetAgentResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentId",
            "description": "🆔 Идентификатор агента (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "tags": [
          "🤖 Сервис Управления Агентами"
        ]
      },
      "delete": {
        "summary": "🗑️ Удалить один экземпляр агента",
        "description": "Удаляет агента из системы и очищает связанные ресурсы\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_id | 🆔 Идентификатор агента (формат UUID) | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentManagementService_DeleteAgent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsDeleteAgentResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "403": {
            "description": "Доступ запрещен",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "404": {
            "description": "Ресурс не найден",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "503": {
            "description": "💥 Ведутся технические работы - повторите запрос позже",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "description": "🆔 Идентификатор проекта (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "agentId",
            "description": "🆔 Идентификатор агента (формат UUID)",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "tags": [
          "🤖 Сервис Управления Агентами"
        ]
      },
      "patch": {
        "summary": "✏️ Обновить конфигурацию агента",
        "description": "Изменяет существующие свойства и настройки агента\n\n## Запрос\n| Имя       | Описание                     |\n| --------- | ---------------------------- | \n| agent_id | 🆔 Идентификатор агента (формат UUID) | \n| name | 📝 Имя агента (3-125 символов, строчные буквы с дефисами, должен начинаться/заканчиваться буквенно-цифровым) | \n| description | 💬 Описание агента (максимум 125 символов) | \n| instance_type_id | ⚙️ Идентификатор конфигурации (формат UUID) | \n| mcp_servers | 🔌 Связанные MCP серверы (максимум 10) | \n| image_source | 🐳 Источник образа контейнера | \n| options | ⚙️ Специфичные для агента опции конфигурации | \n| project_id | 🆔 Идентификатор проекта (формат UUID) | \n| integration_options |  | \n\n## Ответ\n| Имя       | Описание                     |\n| --------- | ---------------------------- |",
        "operationId": "AgentManagementService_UpdateAgent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contractsUpdateAgentResponse"
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Необходима авторизация",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
[...]
